#title {
  background-color: #ff4c68;
  color: white;
}

body {
  font-family: "Montserrat";
}

.t1 {
  font-family: "Montserrat",sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding : 3% 15%;
}

/* Navigation bar */
.navbar-brand{
  font-family: "Ubuntu";
  font-size : 2.5rem;
  font-weight: bold;
}

.navbar {
  padding:0 0 4.5rem 0;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-light";
}

.nav-item {
  padding-right: 2rem;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width : 60%;
  transform: rotate(25deg);
}
